/********************
 *  GLOBAL FORMATE  *
 ********************/

* {
    box-sizing:border-box;
}

html,body {

    background: rgba(216, 209, 199, 1);
    height:100%;
    top:0;
    top:0; left:0;
    z-index:-1;
    font-family: MyriadPro-Light;
    /*webkit-font-smoothing: antialiased;*/
}

/********************
 *   LOGIN PAGE     *
 ********************/


/*login Header Logo*/
centre {
    position: relative;
    margin-left:41%;
}


centre img {
    margin-top: 5%;
    max-width: 200px;
}


@media only screen and (max-width: 800px) {

    centre {
        position: relative;
        margin-left:38%;
    }
    centre img {
        margin-top: 5%;
        max-width: 200px;
    }
}


/*Login Card*/
.login {
    width: 380px;
    height: 310px;
    margin: 40px auto;
    padding: 1em 2em 2em 2em;
    background: #fafafa;
    border-radius: 7px;
    border: 1px solid #ebebeb;
    box-shadow: 1px 1px 4px 1px lightslategrey;
}

/*Invalid Text*/
.text-danger {
    color:red;
    font-size:12px;
    margin-left:30%;
}

/*login input box*/
md-input-container{
	font-size: 14px;
    padding:0px;
    margin: 15px 0;
	-webkit-appearance: none;
	display: block;
}




/*Login Button*/
button {
    margin-top: 0%;
    margin-left: 28%;
    padding: 8px 40px;
    border-radius: 5px;
    background-color: #177bbb;
    border-style: inherit;
    font-size: 20px;
    color:#FFFFFF;
}
/*md-input-container-onfocused*/
md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #177bbb;
}
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color:#177bbb;
}

/*forgot*/
.text-forgot {
    text-align: center;
    font-size:14px;
}


/*forgot password*/
.text-forgot a:hover,
.forgot a:focus,
.forgot a:active{
 text-decoration: none;
}

.forgot {

    position: relative;
    color: #384EA4;

}

/********************
 *     NAV BAR      *
 ********************/
.navbar-brand>img {
    display : block;
    width : 120px;
}

.navbar-custom {
    background-color:#177bbb;
    border-radius:0;
}

.navbar-custom .navbar-nav>li>a {
    color: #fff !important;
}

/********************
 *     SIDE BAR     *
 ********************/

#wrapper {
    padding-left: 0;
    margin-top: 51px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    padding-left:30px;
    display: block;
    text-decoration: none;
    color: #000;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    padding-left:55px;
    position:relative;
    background: #b8daef;
    border-radius: 5px 6px 6px 5px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/********************
 *  HOME DISPLAY    *
 ********************/

.home-display  {
    margin-top: 10%;
}

/********************
 *  CALENDAR VIEW   *
 ********************/

@media screen and (min-width: 768px) {
    table {

        width:80% !important;
        margin-left: 240px;
        border-radius: 4px;
        background-color: #ffffff;
    }

    tr, th {
        text-align: center;
    }

    td {
        padding:3% !important;
    }

    .btn{
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 320px;
    }
}


.day {
    padding: 25px 60px 25px 25px;
}

/*.responsive-calendar .controls {*/
    /*text-align: center;*/
/*}*/
/*.responsive-calendar .controls a {*/
    /*cursor: pointer;*/
/*}*/
/*.responsive-calendar .controls h4 {*/
    /*display: inline;*/
/*}*/
/*.responsive-calendar .day-headers,*/
/*.responsive-calendar .days {*/
    /*font-size: 0;*/
/*}*/
/*.responsive-calendar .day {*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*font-size: 14px;*/
    /*width: 14.285714285714286%;*/
    /*text-align: center;*/
/*}*/
/*.responsive-calendar .day a {*/
    /*color: #000000;*/
    /*display: block;*/
    /*cursor: pointer;*/
    /*padding: 20% 0 20% 0;*/
/*}*/
/*.responsive-calendar .day a:hover {*/
    /*background-color: #eee;*/
    /*text-decoration: none;*/
/*}*/
/*.responsive-calendar .day.header {*/
    /*border-bottom: 1px gray solid;*/
/*}*/
/*.responsive-calendar .day.active a {*/
    /*background-color: #1d86c8;*/
    /*color: #ffffff;*/
/*}*/
/*.responsive-calendar .day.active a:hover {*/
    /*background-color: #36a0e2;*/
/*}*/
/*.responsive-calendar .day.active .not-current {*/
    /*background-color: #8fcaef;*/
    /*color: #ffffff;*/
/*}*/
/*.responsive-calendar .day.active .not-current:hover {*/
    /*background-color: #bcdff5;*/
/*}*/
/*.responsive-calendar .day.not-current a {*/
    /*color: #ddd;*/
/*}*/
/*.responsive-calendar .day .badge {*/
    /*position: absolute;*/
    /*top: 2px;*/
    /*right: 2px;*/
    /*z-index: 1;*/
/*}*/





/********************
 *     LOADER      *
 ********************/

/*.progressCirculardemoBasicUsage body {*/
    /*padding: 20px; }*/

/*.progressCirculardemoBasicUsage h4 {*/
    /*margin: 10px 0; }*/

/*.progressCirculardemoBasicUsage md-progress-circular {*/
    /*margin-bottom: 20px; }*/

/*.progressCirculardemoBasicUsage #loaders > md-switch {*/
    /*margin: 0;*/
    /*margin-left: 10px;*/
    /*margin-top: -10px; }*/

/*.progressCirculardemoBasicUsage #loaders > h5 {*/
    /*margin-top: 0; }*/

/*.progressCirculardemoBasicUsage #loaders > p {*/
    /*margin-right: 20px;*/
    /*margin-bottom: 24px; }*/

/*.progressCirculardemoBasicUsage p.small {*/
    /*font-size: 0.8em;*/
    /*margin-top: -18px; }*/

/*.progressCirculardemoBasicUsage hr {*/
    /*width: 100%;*/
    /*margin-top: 20px;*/
    /*border-color: rgba(221, 221, 177, 0.1); }*/

/*.progressCirculardemoBasicUsage p.small > code {*/
    /*font-size: 0.8em; }*/

/*.progressCirculardemoBasicUsage .visible {*/
    /*border-color: rgba(221, 221, 177, 0); }*/
