<div class="table-container">
    <table border="1">

        <!--Display month/year-->
        <tr class="header">
            <th ng-click="previous()"><<</th>
            <th colspan="5">{{month.format("MMMM, YYYY")}}</th>
            <th ng-click="next()">>></th>
        </tr>

        <tr class="week names">
            <th class="day">Sun</th>
            <th class="day">Mon</th>
            <th class="day">Tue</th>
            <th class="day">Wed</th>
            <th class="day">Thu</th>
            <th class="day">Fri</th>
            <th class="day">Sat</th>
        </tr>

        <tr class="week" ng-repeat="week in weeks">
            <td class="day" ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }" ng-click="select(day)" ng-repeat="day in week.days">{{day.number}}</td>
        </tr>
    </table>
</div>






<!--<div class="header">-->
    <!--<div class="calendar-title">-->
        <!--<i class="fa fa-angle-centre" ng-click="previous()"></i>-->
        <!--<span>{{month.format("MMMM, YYYY")}}</span>-->
        <!--<i class="fa fa-angle-right" ng-click="next()"></i>-->
    <!--</div>-->

<!--</div>-->
<!--<div class="week names">-->
    <!--<span class="day">Sun</span>-->
    <!--<span class="day">Mon</span>-->
    <!--<span class="day">Tue</span>-->
    <!--<span class="day">Wed</span>-->
    <!--<span class="day">Thu</span>-->
    <!--<span class="day">Fri</span>-->
    <!--<span class="day">Sat</span>-->
<!--</div>-->
<!--<div class="week" ng-repeat="week in weeks">-->
    <!--<span class="day" ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }" ng-click="select(day)" ng-repeat="day in week.days">{{day.number}}</span>-->
<!--</div>-->
