<!--Login Page-->
<md-card-content>
    <centre>
        <img alt="eKincare" class="responsive" src="https://d3vimd0j9wrtcm.cloudfront.net/assets/logo-3163b2469af775c9baba0cfe49eabab300b4e599a445730502ff6ea0b2755d1e.png" />
    </centre>
</md-card-content>


<div class="login">

    <md-content layout="column" class="md-padding" >
        <form method="post"  name="loginForm">

            <md-input-container>
                <label>Login id</label>
                <input type="email" ng-model="email" class="" />
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="password" class="" />
            </md-input-container>

            <div layout="row" layout-align="centre">
                <button ng-click="login()" class="md-raised">Login</button>
                <div flex="flex"></div>
            </div>
            <a ui-sref="forgot" class="forgot"><h3 class="text-forgot">Forgot Password</h3></a>
        </form>
    </md-content>

    <div><span class="text-danger">{{error}}</span></div>
</div>
